<div class="container">
<h2><b class="text-white fs-1 bg-dark">B</b>ienvenidos al Centro Noticioso</h2>
<img src="https://fastly.picsum.photos/id/736/500/300.jpg?hmac=xKZxaPRiqjwPa4Fde8Lgl8WM-pyM5_EPDpvhHYAgaQM" class="rounded img-fluid mx-auto" alt="Imagen generada por Lorem Picsum">
<p class="bg-dark text-white" style="width:500px; font-family: 'monospace';">Centro noticioso que lleva mucho tiempo en el rubro<br>
 Nos caracterizamos por mantener un flujo de informacion<br>
 credible basado en la investigacion, sin dejar espacio,<br>
 a dudas o interpreationes, como generalmente sucede<br>
 cuando se publican fake news.<br>
</p>
<p>Find me in app/views/home/index.html.erb</p>
<%= link_to "Ir a Noticias", posts_path,  class: "btn btn-info btn-sm my-2" %>

</div>
