<p style="color: green"><%= notice %></p>

<h1 class="letra_especial fs-2"><b class="fs-1 ">N</b>oticias</h1>

<div id="posts" class="ms-3 col-8 border border-2 bg-light rounded">
  <% @posts.each do |post| %>
    <%= render post %>
    <p class="fs-6 ms-3">
      <%= link_to "Mostrar Detalle", post, class: 'btn btn-secondary btn-sm' %>
    </p>
  <% end %>
</div>

<div class="my-4">
  <%= link_to "Nueva Noticia", new_post_path, class: "btn btn-info btn-sm" %>
</div>
