<div class="rounded border border-1 bg-light rounded col-8 mt-3">
<h1>New post</h1>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "Volver", posts_path, class: "btn btn-secondary btn-sm my-3"  %>
</div>
</div>